<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" processIsolation="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <php>
        <!--<server name="KERNEL_CLASS" value="App\Kernel" />-->
        <server name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="false" />
    </php>

    <testsuites>
        <testsuite name="platform">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
